<!-- Center set at Omaha, NE -->
<div class="secret" id="graph">
  <div id="linechart_material"></div>
</div>

<div id="map-canvas" data-center-latitude=<%= "41" %>
                     data-center-longitude=<%= "-96" %> >


</div>
