<div id="query-box">

  <a href="#" class="clear-markers menu-item">Clear Markers</a>

  <a href="#" class="clear-markers menu-item">|</a>
  <a href="#" class="menu-item" id="select-outbreak">Query Events</a>



</div>
<div id="outbreak-query-box" class="query-form" style="display: none" >
  
</div>
