<div id="page-scroll">
  <ul>
    <% @marker.each do |mark| %>
    <div >
      <li class="place-marker">
     <a href="#" class="location-marker" data-latitude=<%="#{mark.latitude}"%>
            data-longitude=<%= "#{mark.longitude}" %>>  <%= mark.name %> </a></div>  </li>
    <% end %>
  </ul>
</div>
<div id="name">
  <button type="button" class="clear-markers">Clear Markers</button>

</div>
