/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#graph {
  position: relative;
  top: 25px;
  float: left;
  height: 0;
}

.navbar {
  margin-bottom: 0;
  /*padding-bottom: 10px;*/
  color: #ffee89;
  /*height: 15px;*/
}

.navbar a:hover {
  color: #ffc375;
}
.navbar a:visited {
  color: #ffe8c4;
}
.navbar a {
  color: #ffee89;
  float: right;
}

.logo {
  display: block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  padding-top: 3px;
  color: #2D3440;
  background-color: #FFBB34;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 1000
}

.logo span {
  color: #2D3440;
}

.menu-buttons {
  float: right;
}

.nav-form {
  margin-top: 25px;
  float: right;
  background-color: #222;
  color: #ffc375;
}

.submit-btn {
  color: #2D3440;
  background-color: #ffc375;
  border-color: #ffc375;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-collapse {
  margin-top: 50px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.scrolling-list {
  margin: 20px 0;
  border-width: 5px;
  border-color: #2D3440;
}
