.scrolling-list {
  display: block;
  height: 500px;
  margin: auto;
  border: solid green;
  overflow: scroll;
}

.basic-block {
  display: block;
  float: left;
  width: 45%;
}

.hi-lite {
  background: yellow;
}
