.scrolling-list {
  display: block;
  height: 300px;
  margin: auto;
  // border: solid green;
  overflow: scroll;
}

.basic-block {
  display: block;
  float: left;
  width: 45%;
}

.hi-lite {
  background: yellow;
}

#query-box {
  display: block;
  background-color: #2D3440;
  color: #FFBB34;
  height: 30px;
}

.query-form {
  width: 100%;
  z-index: 3;
  clear: both;
  // margin-left: 1%;
  // margin-right: 1%;
  // margin-top: 3px;
  background-color: white;
  color: black;

}

a.menu-item {
  display: inline-block;
  margin-left: 10px;
  float: left;
  color: #FFBB34;
}

a.location-marker {
  color: black;
}

.white-link {
  display: inline-block;
  color: #FFBB34;
  padding-left: 5px;
  float: left;

}
a:hover {
  color: #ffee89;
}
