.query-nav-bar {
  display: block;
  background-color: black;
  color: #FFBB34;
  padding: 2px;
  margin: 0;
}

.query-nav-bar ul {
  list-style-type: none;
  text-align: center;

}
.query-nav-bar li {
  display: inline-block;
  position: center;
  // padding: 3px 10px 3px 10px;
  font-size: 1em

}

#query-records {
  display: none;
  background-color: white;
  width: 90%;
  margin: 0 5% 0 5%;
  border: 12px solid #f89022;
  background-color: white;

}

.ui-datepicker-month, .ui-datepicker-year {
  color: black;
}



#outbreak-query-box.query-form  ul {
  display: block;
  margin: 0;

  padding: 10px;
  background-color: #f89022;
  list-style-type: none;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px 0 5px
  }
}

.submit-query {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 2px;
}

#outbreak-query-box input {
  border: .1em solid black;
  border-radius: 7px;
  text-align: center;
}

#outbreak-query-box select {
  border: solid black .1em;
}

#outbreak-query-box {

}

.scrolling-list {
  display: block;
  width: 90%;
  height: 300px;
  overflow: scroll;
  background-color: white;
  padding: 20px;
  margin: 5%;
  margin-top: 10px;
  // border-width: 5px;
  border-color: #2D3440;
}

.scroll-background {
  background-color: black;
  text-align: center;
}

table th, td {
  text-align: center;
}
